body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


header{ 
    background: #3a86ff; /* Azul oscuro */
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    
  }
  
  header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

  
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}



p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.location iframe {
    width: 300px; /* Más pequeño y cuadrado */
    height: 300px; /* Haciendo el mapa cuadrado */
    border: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #00796b; /* Color del ícono o texto */
}

.social-links a img {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 2.2em;
    }

    .creators h2, .school-info h2, .specialties h2, .location h2, .social-links h2 {
        font-size: 1.8em;
    }

    .creators ul li {
        font-size: 1em;
    }

    .specialties .specialty h3 {
        font-size: 1.5em;
    }

    .specialties .specialty p {
        font-size: 1em;
    }

    .location iframe {
        width: 250px;
        height: 250px;
    }

    .social-links a img {
        width: 30px;
        height: 30px;
    }
}
